.container.pack
  display: flex
  justify-content: space-between
  align-items: center
  padding: 20px 0
  background-color: #ad43f0ff

.pager
  display: flex
  align-items: center
  font-size: 18px
  font-weight: 500
  color: #fff
  text-decoration: none
  padding: 10px 15px
  margin: 0 40px
  border-radius: 8px
  background-color: #6a1b9a
  transition: background-color 0.3s ease, color 0.3s ease

  &:hover
    background-color: #8e24aa
    color: #fff

  &.disabled
    opacity: 0.5
    pointer-events: none // որ չսեղմվի

  .pager-project
    margin-left: 5px
    font-weight: bold

  .pager-icon
    width: 15px
    height: 15px
    background-color: #fff
    margin: 0 5px
    border-radius: 50%

// 📌 Մեդիա հարցումներ
@media (max-width: 768px)
  .container.pack
    flex-direction: column
    gap: 15px

  .pager
    width: 100%
    justify-content: center
    font-size: 16px

@media (max-width: 480px)
  .pager
    font-size: 14px
    padding: 8px 12px

  .pager-icon
    width: 12px
    height: 12px
